<!--
*@FileName:category.html
*@Created By:Habeeb
*@Date:
*@Purpose:To display the CategoryImages
  -->
<!-- To Display Alert Message on Screen -->
<div class="img-responsive">
  <a ui-sref="search"><img class="float_right" ng-src='images/Button_6_search-min.png' height="50" width="50"></a>
<div ng-include="'templates/header.html'"></div>
<div ng-include="'templates/footer.html'"></div>
<div class="alert alert-success-sm">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <label  for="email">
        <h3 class="t1">Please Enter Your Registered mobile Number</h3></label>
    <input type="text1" class="form-control" id="email" placeholder="Enter Registered Mobile Number">
    <br>
    <center>
        <button type="button" class="btn-default btn-round">Login</button>
    </center>
    <input type="button" value="skip" class="close" data-dismiss="alert" arial-label="close">
</div>
</div>
<!-- To Display the Images Carousel view -->
<!-- <div class="img1-responsive"> -->
<!-- <div class="container1"> -->
<div class="container3">
<div  carousel3d ng-model="images" options="options">
    <div carousel3d-slide ng-repeat="x in images">
        <figure>
            <a><img ng-if="carousel3d.getCurrentIndex() === $index" ng-src='{{(x.src)}}' ui-sref='content({pid:x.pid,cid:x.cid,content_count:x.content_count,caption:x.caption})' alt="" />

                <img ng-if="carousel3d.getCurrentIndex() !== $index" ng-src="{{x.src}}" />
                <figcaption><span style="color:white;font-weight:bold">{{x.caption}}</span></figcaption>
            </a>
        </figure>
    </div>
</div>
</div>
<!-- </div> -->
<!-- </div> -->
