<!--
*@FileName:header.html
*@Created By:Habeeb
*@Date:16-10-2016
*@Purpose:To display the header icons
  -->
<nav>
	<div class="container">
		<ul>
			<img class="float_center" src='images/Button_3_video_on-min.png' height="50" width="50">
			<img class="float_center1" src='images/Button_4_audio-min.png' height="50" width="50">
			<img class="float_center2" src='images/Button_5_history-min.png' height="50" width="50">
			<!-- <img class="float_right" src = 'Button_6_search-min.png' height="50" width="50"> -->
		</ul>
		<br>
	</div>
</nav>
