<!--
*@FileName:video.html
*@Created By:Habeeb
*@Date:16-10-2016
*@Purpose:To display the videos
  -->
<img ng-click="myGoBack()" ng-src="images/Button_14_back-min.png" height="50" weight="50">
<img class="float_right" src = 'images/Button_9_download-min.png' height="50" width="50">
<!-- <div id="container"> -->
<div class="container">
    <center>
        <!-- <div class="embed-responsive embed-responsive-16by9"> -->
        <div class="video">
            <video id="myVideo" width="480" height="270" preload="auto" poster="loading.gif" controls autoplay>
                <source src="{{url}}" type="video/mp4"></source>
                <source src="video4.ogg" type="video/ogg"></source>
                <source src="video4.webm" type="video/webm"></source>
            </video>
        </div>
    </center>
    <br>
    <center>
      <!-- <div class="container7"> -->
        <img id="mySpinner" src="images/ripple.gif" ng-show="loading">
        <div class="outerbox">
            <!-- <div class="row"> -->
                <div class="span5" ng-click="changeVideo(x.dnld_url)" style="display: inline; margin-left:0px; " ng-repeat="x in result | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" class='img-responsive'>
                    <a>
                        <div class="card card-1">
                            <!-- <a ng-swipe-right="pagination.prevPage()" ng-swipe-left="pagination.nextPage()"> -->
                            <img class="img" style='border-radius: 10%;' ng-src='{{x.image_path}}' width="250" height="150"  />
                            <span class="icon videoIcon playS"></span>

                            <p class="p1">{{x.title}}</p>
                    </a>
                    <br>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- </div> -->
    </center>

<div class="btn pull-left">
    <!--pagination.prevpage method is used to go previous page  -->
    <button class="button button5" ng-click="pagination.prevPage()" ng-hide="pagination.page == 0" ng-click="pagination.prevPage()">Previous</button>
</div>
<div class="btn pull-right">
    <!-- pagination.nextpage method is used to go next page -->
    <button class="button button5" ng-click="pagination.nextPage()" ng-hide="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">Next</button>
</div>
</div>
